/*Universal styles*/

:root {
    --primary: #6a11cb;
    --secondary: #2575fc;
    --accent: #ff6b6b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Arial", sans-serif;
    letter-spacing: 1px;
}

section {
    margin: 8rem 0;
}

/*Navigation bar and home*/

header {
    background-image: url(../images/Bolapadelgrande.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 43.5rem;
}

.gradient-text {
    background: linear-gradient(45deg, var(--primary), var(--secondary), var(--accent), var(--primary));
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: gradientAnimation 5s ease infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Ubuntu Condensed", sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 800px) {
    .gradient-text {
        text-align: center;
        font-size: 4rem;
    }

    header {
        height: 30rem;
    }

    .big-screen {
        display: none;
    }

    .menu {
        display: flex;
        position: relative;
        align-items: center;
    }

    .menu li {
        padding: 10px 25px;
        cursor: pointer;
        position: relative;
        margin: 0;
        color: #ff6b6b;
    }

    .menu li a {
        display: block;
    }

    .submenu {
        position: absolute;
        display: none;
        background: rgba(0, 0, 0, 0.7);
        padding: 1rem;
        border-radius: 10px;
        left: -20px;
        width: 180px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
        margin-top: 10px;
    }

    #menu-toggle {
        cursor: pointer;
    }

    .menu li:hover>.submenu {
        display: block;
    }

    .submenu li {
        position: relative;
    }

    .mobile {
        display: block;
        z-index: 1;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        position: fixed;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        top: 2rem;
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 20rem;
    }

    .gradient-text {
        font-size: 3rem;
    }

    .mobile ul {
        gap: 2rem;
    }
}

@media only screen and (min-width: 800px) {
    .mobile {
        display: none;
        width: 60%;
    }
}

@media only screen and (max-width: 950px) {
    .big-screen {
        font-size: 1.2rem;
    }

    .big-screen ul {
        gap: 2rem;
    }
}

.big-screen {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 1rem;
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

nav a {
    color: #ff6b6b;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;
}

nav a:hover {
    color: #fff;
}

/*About us section*/

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 1.5rem;
    line-height: 2;
}

.about-content {
    max-width: 800px;
    margin-bottom: 1.25rem;
}

.about-content p {
    padding: 1rem;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 900px;
}

.image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

@media only screen and (max-width: 480px) {
    .images-container img {
        max-width: 250px;
    }

    .about-section {
        font-size: 1rem;
    }
}

/*Pricing section*/

/*Pricing section - Services content*/

.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    line-height: 2;

}

.services-content h2 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.dropdowns {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.dropdown {
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown summary {
    padding: 1rem;
    cursor: pointer;
    list-style: none;
    background: #ccc;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.dropdown summary::before {
    content: "⮟ ";
    position: absolute;
    left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown:hover summary::before {
    opacity: 1;
}

.dropdown[open] summary::before {
    content: "⮝ ";
}

.dropdown div {
    padding: 0.625rem 1rem;
}

@media only screen and (min-width: 950px) {
    .services-content {
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.5rem;
        padding: 0 2rem;
    }

    .dropdowns {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .dropdown {
        width: 40rem;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .services-content h2 {
        margin-bottom: 3rem;
    }
}

/*Contact section*/

.contact-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    background-color: #0D0D0D;
    margin-bottom: 0;
    height: 15rem;
    color: #F0F2F2;
    align-content: space-evenly;
    line-height: 1.5;
}

.contact-section h2 {
    padding: 2rem;
}

.contact-content {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    flex-wrap: wrap;
}

.contact-content div {
    align-content: center;
}

.social-icons {
    margin-top: 1.25rem;
    list-style: none;
    padding: 0;
    display: flex;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    margin: 0.625rem;
    border-radius: 50%;
    width: 2.1875rem;
    height: 2.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 1.25rem;
    color: var(--color);
}

.social-icons a:hover {
    background: var(--color);
    color: #0D0D0D;
    box-shadow: 0 0 0.3125rem var(--color), 0 0 1.5625rem var(--color), 0 0 3.125rem var(--color), 0 0 4.6875rem var(--color);
}

@media only screen and (max-width: 850px) {
    .contact-content {
        width: 90%;
        gap: 2rem;
    }

    .contact-section {
        height: auto;
        font-size: 1rem;
        align-items: center;
        padding-bottom: 1rem;
    }
}

/*Footer*/

footer {
    background-color: #0AA65D;
    color: #F0F2F2;
    text-align: center;
    padding: 0.7rem;
    font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 0.625rem;
    }
}